body {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 14px;
  /*color: #DCD0C0;*/
  color: #373737;
  background-color: #F4F4F4;
}

h1 {
  color: #C0B283;
}

h2 {
  color:#373737;
  font-size: 24px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Courier New';
}

.desc-col, .j-col, .js-col, .p-col {
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 10px;
}

.desc-col {
    font-family: Helvetica;
}

#desc-title, #java-title, #javascript-title, #python-title {
    font-family: Helvetica;
    color: #373737;
}

#panel {
    padding: 50px;
    display: none;
}
