
p{
  color:green;
}
h2{
  color:green;
}
h1{
  color: green;
}
body {
  background-color: grey;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

.flex-item1 {
    background-color: green;
    width: 100%;
    height:100%;
    margin: 5px;
}

.flex-item2 {
    background-color: green;
    width: 100%;
    height:100%;
    margin: 5px;
}
.flex-item3 {
    background-color: green;
    width: 100%;
    height:100%;
    margin: 5px;
}
.flex-item4 {
    background-color: green;
    width: 100%;
    height:100%;
    margin: 5px;
}
.flex-item5 {
    background-color: green;
    width: 166px;
    height:100%;
    margin: 5px;
}
.flex-item6 {
    background-color: green;
    width: 166px;
    height:100%;
    margin: 5px;
}
.flex-item7 {
    background-color: green;
    width: 166px;
    height:100%;
    margin: 5px;
>>>>>>> 0f3e89154c38df6ce50f3acdc8cdd16ee0800794
}
