/*Nav Bar styles*/
#sideBar{
  font-size: 36px;
}

#main {
    transition: margin-left .5s;
    padding-left: 20px;
    padding-bottom: 0;
    color: #C0B283;
}

#jhead {
  color: #C0B283;
  font-size: 48px;
  font-style: italic;
  text-align: center;
}

#jp1 {
  font-family: Helvetica;
  color:#373737;
  text-align: center;
  text-indent: 50px;
  font-weight: bold;
}

#test2 {
  text-indent: 50px;
}

#jp2 {
  font-family: Helvetica;
  color:black;
  text-align: left;
}

header {
  float: left;
  width: 100%;
  color: white;
  vertical-align: middle;
}

.navBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #383838;
    overflow-x: hidden;
    transition: 0.5s;
}

.navBar a {
    padding: 10px 0px 0px 32px;
    padding-top: 30px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navBar a:hover {
    color: white;
}

.navBar .closebtn {
    position: absolute;
    padding:0;
    padding-top: 5px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}




body {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 14px;
  color: #373737;
  background-color: #F4F4F4;
}

h2 {
    font-style: italic;
    font-weight: lighter;
    font-size: 48px;
    color: #C0B283;
    text-align: center;
    margin: 0;
}

h4 {
    font-weight: lighter;
    color: #DCD0C0;
}

a {
    color: #DCD0C0;
}

.flex-container, .flex-container-title {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Courier New';
}

.j-col, .js-col, .p-col {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
}

.desc-col {
    width: 800px;
    height: 100%;
    margin: 0;
    padding: 20px;
    font-family: Helvetica;
    font-weight: lighter;
}

#desc-title, #java-title, #javascript-title, #python-title {
    font-family: Helvetica;
    color: #373737;
}

#panel {
    padding: 2px;
    display: none;
}

#table{
  padding: 56px;
}

.highlighted{
    background-color: white;
}
