<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/index.css"></link>                                          <!-- Links css file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>        <!-- Allows JQuery -->
    <script type="text/javascript" src="static/index.js"></script>                                  <!-- Links javascript file -->
</head>


<body>

    <h1 style="text-align:center"> Code Comparer Son</h1>
    <h4 style='text-align:center'> wlecome coding blah blah we here compare code</h4>
    <h2 style="text-align:center">Choose the code you would like to compare syntax</h2>
    <input type='checkbox' id='java' class=language-box value='show'>Java                           <!--Check boxes for languages-->
    <input type='checkbox' id='javascript' class=language-box value='show'>Javascript
    <input type='checkbox' id='python' class=language-box value='show'>Python

    <div class="flex-container">
        <div class="desc-col" style='text-align:center' id='desc-title'>Category</div>               <!--Column title cells-->
        <div class="j-col" style='text-align:center' id='java-title'>Java</div>
        <div class="js-col" style='text-align:center' id='javascript-title'>Javascript</div>
        <div class="p-col" style='text-align:center' id='python-title'>Python</div>
    </div>

        {% for i in range(0, 28) %}
        <div class="flex-container">
            <div class="desc-col">
                {{ desc_items[i] }}
            </div>
            <div class="j-col">
                {{ java_items[i] }}
                <div class="j-panel" id= {{ find_items_j[i] }} >aint no example j</div>
            </div>
            <div class="js-col">
                {{ javascript_items[i] }}
                <div class="js-panel" id= {{ find_items_js[i] }}>aint no example js</div>
            </div>
            <div class="p-col">
                {{ python_items[i] }}
                <div class="p-panel" id= {{ find_items_p[i] }}>aint no example p</div>
            </div>
        </div>
        {% endfor %}

    </body>





    </html>
