<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/index.css"></link>                                          <!-- Links css file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>        <!-- Allows JQuery -->
    <script type="text/javascript" src="static/index.js"></script>                                  <!-- Links javascript file -->
    <title>CodeCompare</title>
</head>




<header>
    <div id="main">
        <span id = "sideBar" onclick="openNav()">&#9776</span><h2>CodeCompare</h2>
        <h4 style='text-align:center'>Welcome. We compare code.</h4>
    </div>
    <div id="navBar" class="navBar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="blog-list-wrapper">{{ languagelist }}</div>
        <a href="\">Home</a>
        <a href="/post?page_id=0">Java</a>
        <a href="/post?page_id=1">Javascript</a>
        <a href="/post?page_id=2">Python</a>
    </div>
</header>

<body>
    <div id="table">
      <div id="checkbox">
        <input type='checkbox' class=language-box value='show'>Java                           <!--Check boxes for languages-->
        <input type='checkbox' class=language-box value='show'>Javascript
        <input type='checkbox' class=language-box value='show'>Python
      </div>

        <div class="flex-container-title">
            <div class="desc-col" style='text-align:center'>Category</div>               <!--Column title cells-->
            <div class="j-col" style='text-align:center'>Java</div>
            <div class="js-col" style='text-align:center'>Javascript</div>
            <div class="p-col" style='text-align:center'>Python</div>
        </div>

        {% for i in range(0, 28) %}
        <div class="flex-container">
            <div class="desc-col">
                {{ desc_items[i] }}
            </div>
            <div class="j-col">
                {{ java_items[i] }}
                <div class="j-panel" > {{ j_examples[i] }} </div>
            </div>
            <div class="js-col">
                {{ javascript_items[i] }}
                <div class="js-panel">{{ js_examples[i] }}</div>
            </div>
            <div class="p-col">
                {{ python_items[i] }}
                <div class="p-panel">{{ p_examples[i] }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
